* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #1e1e1e;
  margin: 0.5%;
}

.header {
  margin: 0 0.5%;
  padding: 20px 0;
}

input {
  display: block;
  width: calc(19% - 8px);
  margin: 0 auto;
  padding: 8px;
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  background-color: rgba(30, 30, 30, 0.9);
  border: none;
  border-bottom: 1px solid rgba(235, 235, 235, 0.9);
  border-radius: 0;
  outline: none;
}

.toggle {
  position: absolute;
  right: 1%;
  top: 40px;
  padding: 2px 4px;
  font-size: 12px;
  color: rgba(235, 235, 235, 0.5);
  border: 1px solid rgba(235, 235, 235, 0.3);
  border-radius: 2px;
  background: none;
  cursor: pointer;
}

.toggle:hover {
  color: rgba(235, 235, 235, 0.8);
  border: 1px solid rgba(235, 235, 235, 0.6);
}

.square {
  float: left;
  position: relative;
  width: 19%;
  padding-bottom: 19%;
  margin: 0.5%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

.info {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 5%;
  color: #1e1e1e;
  background-color: rgba(235, 235, 235, 0.9);
  overflow: hidden;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

p.artist {
  text-transform: uppercase;
  font-weight: 700;
}

p.year {
  color: #848484;
}

@media only screen and (max-width: 414px) {
  body {
    margin: 1%;
  }

  input {
    width: calc(96% - 8px);
    margin-top: 30px;
  }

  .toggle {
    top: 30px;
    right: 2%;
  }

  .square {
    width: 48%;
    padding-bottom: 48%;
    margin: 1%;
  }

  .info {
    width: 96%;
    padding: 2%;
  }

  p {
    font-size: 12px;
    line-height: 14px;
  }
}

@media only screen and (min-width: 1919px) {
  body {
    margin: 0.2%;
  }

  input {
    width: calc(20 % - 8px);
  }

  .square {
    width: 9.6%;
    padding-bottom: 9.6%;
    margin: 0.2%;
  }
}
